@import "tailwindcss";

@font-face {
    font-family: "Lobster";
    src: url(./assets/Lobster-Regular.ttf);
}

@theme {
    --font-logo: "Lobster", serif;
}

::-webkit-scrollbar {
    height: 7px;
    width: 7px;
    background: #80808060;
}

::-webkit-scrollbar-thumb {
    background-color: #F87171;
    border-radius: 20px;
}

#videoSlider {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
}

#videoSlider::-webkit-slider-runnable-track {
    background-color: #F87171;
}

#videoSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 16px;
    border-radius: 0;
    background: #ffffff;
    cursor: pointer;
}

#audioSlider {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
}

#audioSlider::-webkit-slider-runnable-track {
    background-color: #ffffff;
}

#audioSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 8px;
    border-radius: 0;
    background: #F87171;
    cursor: pointer;
}