@import "tailwindcss";

::-webkit-scrollbar {
    height: 7px;
    width: 7px;
    background: #80808060;
}

::-webkit-scrollbar-thumb {
    background-color: #F87171;
    border-radius: 20px;
}